*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #fff;
}

/* Barra de navegação, interface inicial */
.nav_logo {
    width: 80px; /* A logo será de 80 px */
    object-fit: contain; /* Aqui o elemento que for substituida vai ter que se ajustar para 80px */

}

.nav_avatar {
    width: 35px;  /* A logo será de 30px */
    border-radius: 6px;
    object-fit: contain; /* Aqui o elemento que for substituida vai ter que se ajustar para 30px */
}

.nav {
    position: fixed; /* Sempre fica no mesmo lugar */
    top: 0; /* elemento grudado no topo  */
    width: 100%; /* Ocupa 100% da largura disponivel */
    display: flex; /* elementos flexiveis */
    justify-content: space-between; /* Os elementos serão justificados no espaço maior possivel respeitando apenas as bordas elementos são jogados para cada canto da tela*/
    padding: 10px; /* padding de 20 px do conteudo em todas as bordas */
    z-index: 1; /* Fica acima de todos os outros elementos */
    transition-timing-function: ease-in; /* Efeito de transição com  */
    transition: all 0.5s; /* Aparece em 5 segundos  */
    background-color: #000;
}

.nav .icons{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons svg, img {
    cursor: pointer;
}

.options-nav{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.options-nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.options-nav ul li a{
    transition: .8s;
}
.options-nav ul li a:hover {
    color: #ff0000;
    transition: .8s;
}

.banner {
    background-image: url(../images/alanfx.jpg);
    background-color: green;
    top: 1;
    background-size: cover; /* cobrir toda a area */
    color: white; /* cor branca para os textos */
    width: 100%;
    height: 650px; /* altura de 700px */
}
/* configurar as margens, padding e altura da div banner */
.banner_contents {
    margin-left: 30px;
    text-shadow: 2px 2px 2px black;
    padding-top: 210px;
    height: 190px;
}
/* O titulo tera fonte 3x maior que as demais, peso de 800 e a distancia em relação aos botões  */
.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
/* A descrição tem 45 de altura, linha vertical de 1.3, preenchimento  ao topo de 1rem, largura maxima de 360px ,tamanho da fonte e altura de 180px */
.banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 180px;
}
/* configurando o botão */
.banner_button {
    cursor: pointer; /* Cursor apontador */
    color: #fff; /* cor branca */
    outline: none; /* sem sublinhado */
    font-weight: 700; /* negrito */
    border-radius: 0.2vw; /* borda arredondada */
    padding-left: 2rem; /* preenchimento a esquerda */
    padding-right: 2rem; /* preenchimento direito */
    margin-top: 0.5rem; /* margem em cima */
    padding-top: 0.5rem; /* preenchimento em cima */
    padding-bottom: 0.5rem; /* preenchimento em baixo */
    background-color: rgba(51, 51, 51, 0.5); /* cor de fundo dos botões */
}
/* Quando selecionado o botão com o mouse, ele muda de cor com animação invertida */
.banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}
/* Aqui ele faz com que a imagem va desaparecendo aos poucos com uma altura de 23rem, a imagem começa a escurecer, indo para outra imagem, que nesse caso e o preto.  */
.banner--fadeBottom {
    margin-top: 15rem;
    height: 23rem;
    background-image: linear-gradient(180deg, transparent, rgb(27, 27, 23), #141414);
}

/* fim */


/* Inicio container de series */
.contain-series {
    width: 92vw;
}
h3 {
    color: #fff;
}
.card-series{
    width: 100%;
    display: flex;
}
.card-series img {
    width: 16.4%;
    height: 160px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s;
}
.card-series img:hover {
    transition: .8s;
    transform: scale(1.1);
    cursor: pointer;
}
.card-series-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.card-series-top img{
    width: 225px;
    height: 190px;
    transition: .5s;
    border-radius: 5px;
}
.card-series-top img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .8s;
    border: 1px solid #ffffff3b;
}
.pop-display-none{
    display: none;
}

/* diminuindo a largura do scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
/* colocando a cor vermelha da thumb do scrollbar e arredondando */
::-webkit-scrollbar-thumb {
    background-color: #ff0000;
    border-radius: 20px;
}

/* Fim configurações conteiner series */